/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Pixel Fonts */

@font-face {
  /* Header Font */
  font-family: 'AtariGames';
  src: url('AtariGames.woff2') format('woff2'),
    url('AtariGames.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* Body Font */
  font-family: 'Habbo';
  src: url('Habbo.woff2') format('woff2'),
    url('Habbo.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* Numeral Font */
  font-family: 'TinyUnicode';
  src: url('TinyUnicode.woff2') format('woff2'),
    url('TinyUnicode.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --blue: #3d5a80;
  --light-blue: #3d5a80;
  --dark-blue: #293241;
  --dark-orange: #ee6c4d;
  --orange: #fb8500;
}

body {
  position: relative;
  height: 100vh;
  font-family: 'Habbo', 'Courier New', Courier, monospace;
  background: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/ornaments/ornament2.svg');
  background-size: 48px;
  color: white;
  padding: 16px;
}

main {
  position: relative;
  background: white;
  width: auto;
  /* max-width: 600px; */
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  background-color: var(--dark-orange);
  border: 40px solid var(--light-blue);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: 5px solid var(--orange);
}

.decoration {
  position: absolute;
  color: var(--orange);
  width: 32px;
  height: 32px;
}

.decoration:first-child {
  top: -32px;
  left: -32px;
}

.decoration:nth-child(2) {
  top: -32px;
  right: -32px;
}

.decoration:nth-child(3) {
  bottom: -32px;
  right: -32px;
}

.decoration:nth-child(4) {
  bottom: -32px;
  left: -32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'AtariGames', 'Courier New', Courier, monospace;
  color: white;
}

.numeral {
  font-family: 'TinyUnicode', 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.header {
  padding: 4px 16px;
  border: 3px solid var(--dark-blue);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.recipe-card a {
  padding: 6px 16px;
  border: 3px solid var(--dark-blue);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0;
}

.recipe-list .recipe-card {
  display: block;
}

.recipe-card a {
  transition: transform 0.5s ease;
}

.recipe-list .recipe-card a:focus {
  outline-color: var(--orange);
}

.recipe-list .recipe-card a:focus,
.recipe-list .recipe-card a:active,
.recipe-list .recipe-card a:hover {
  border-color: white;
  text-decoration: underline;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: scale(1.05);
}

.recipe-list .recipe-card a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  gap: 16px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.recipe-card img {
  image-rendering: pixelated;
  /* Standard */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  /* Safari, older Chrome */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE */
  width: 64px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 32px;
}

.attribution {
  color: white;
  text-align: center;
}

.attribution a {
  color: var(--orange);
}

*:focus {
  outline-color: var(--orange);
}

@media screen and (max-width: 767px) {
  body {
    height: auto;
  }

  .recipe-list {
    grid-template-columns: repeat(1, 1fr);
  }

  footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
  }
}

@media screen and (max-width: 600px) {
  .recipe-list .recipe-card a {
    flex-direction: column;
    font-size: 1.0rem;
    text-align: center;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .recipe-list .recipe-card a:hover {
    transform: none;
  }
}

@media screen and (hovers: none) {
  .recipe-list .recipe-card a:hover {
    transform: none;
  }
}

@media (prefers-contrast: more) {
  .attribution a {
    color: white;
  }
}