body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e0ebe0;
}

* {
    box-sizing: border-box;
}

#library {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.shelf {
    position: relative;
    z-index: 0;
    border: 1px solid burlywood;
    height: 250px;
    display: flex;
    align-items: flex-end;
    background-color: linen;
}

.shelf legend {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    padding: 5px 10px;
    border: 2px solid burlywood;
}

.book {
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    /* text-overflow: unset; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 2px;
    color: gold;
    max-width: 100%;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    border: 1px solid black;
    writing-mode: vertical-rl;
    transition: transform 0.1s ease-in-out;
}

.book:hover {
    filter: brightness(1.2);
    transform: translateY(5px);
}

.tooltip {
    position: fixed;
    z-index: 9999;
    left: 30px;
    bottom: 30px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border: 1px solid black;
    max-width: 300px;
    padding: 10px;
}

.tooltip>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(300px - 20px);
    font-weight: 400;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tooltip>span:first-child {
    font-size: 16px;
    font-weight: 700;
}

.tooltip>span[data-read] {
    margin-top: 5px;
    color: white;
    background-color: indianred;
    padding: 2px 10px;
    border-radius: 10px;
    font-weight: 500;
    align-self: flex-end;
}

.tooltip>span[data-read="true"] {
    background-color: darkolivegreen;
}

.book:hover+.tooltip {
    visibility: visible;
    writing-mode: lr;
}

button.primary {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: darkorange;
    color: white;
    border: 2px solid darkorange;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    transition: all 0.1s ease;
}

button.primary:active,
button.primary:hover {
    background-color: white;
    color: darkorange;
}

#newBook {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.dialog {
    position: relative;
    text-align: center;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    fill: black;
    border: none;
    background-color: transparent;
}

.closeButton:active,
.closeButton:hover {
    color: red;
}

#closeBookForm {
    float: right;
}

.dialog button {
    align-self: center;
}

.dialog form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialog form .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.dialog form input {
    padding: 5px;
}

.dialog form input.attempted[type="text"]:valid,
.dialog form input.attempted[type="number"]:valid {
    background-color: rgba(0, 255, 0, 0.2);
}

.dialog form input.attempted[type="text"]:invalid,
.dialog form input.attempted[type="number"]:invalid {
    background-color: rgba(255, 0, 0, 0.2);
}